{% extends "base.html" %}
{% load static %}

{% block body %}
<script src="{% static 'js/bets.js'%}" charset="utf-8"></script>
<div class="modal" id="modal_register">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form class="form-group" action="/register/" id="id_form_register" method="post">
              <div class="container">
                  {% csrf_token %}
                  <div class="row">
                      <label for="username">Username</label>
                      <input type="text"  class="form-control" name="username" autofocus="" required="" id="id_username" maxlength="254">
                  </div>
                  <div class="row">
                      <label for="password">Password</label>
                      <input type="password"  class="form-control" name="password1" required="" id="id_password1" maxlength="254">
                  </div>
                  <div class="row">
                      <label for="password">Re-type password</label>
                      <input type="password"  class="form-control" name="password2" required="" id="id_password2" maxlength="254">
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="javascript: send_register_form()">Registrar</button>
        <button type="button" class="btn btn-secondary" onclick="javascript: cancel_modal_register()">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
